.fade-anim img {
  animation: fadeAnim 0.5s ease-out;
}
@keyframes fadeAnim {
  from {
    opacity: 0;
  }
  tp {
    opacity: 1;
  }
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root   {
    --color-card-background: #ffffff;
    --color-button-fill: #2C5746;
    --color-text-muted: #c7d2fe;
    --color-text-inverted: #4f46e5;
    --color-fill: #4338ca;
    --color-accent-accent-hover: #eef2ff;
    --color-button-muted: #6366f1;
    --color-main-dark: #2C5746;
    --color-main-light: #D9D9D9;

    /* World SVG CSS */
    --hue-loader: 0deg;
    --base-bg-sat-loader: 90%;
    --base-bg-lum-loader: 72%;
    --base-bg-loader: hsl(var(--hue-loader), var(--base-bg-loader-sat-loader), var(--base-bg-lum-loader));
    --base-fg-sat-loader: 60%;
    --base-fg-lum-loader: 70%;
    --base-fg-loader: hsl(var(--hue-loader), var(--base-fg-sat-loader), var(--base-fg-lum-loader));
    --filter-fg-loader: saturate(100%) brightness(100%);
    --module-bg-sat-loader: 18%;
    --module-bg-lum-loader: 27%;
    --module-bg-loader: hsl(var(--hue-loader), var(--module-bg-sat), var(--module-bg-lum-loader));
    
    /* ThemeSwitcher root */
    --Themer-hue: 245;
    --Themer-size: 1.8rem;
    --Themer-radius: 0.2em;
    --Themer-tspeed-fast: 180ms;
    --Themer-tspeed-slow: 300ms;
    --Themer-ttype-squish: cubic-bezier(0.86, -0.1, 0.27, 1.15);

      /* ThemeSwitcher Light Mode */
    --Themer-bg--light: var(--Themer-hue) 30% 94%;
    --Themer-text--light: var(--Themer-hue) 40% 5%;
    --Themer-accent--light: var(--Themer-hue) 55% 50%;
    /* Delete button colour */
    --Themer-accent1--light: 10 80% 60%;
    --Themer-muted--light: var(--Themer-hue) 30% 99%;
      /* ThemeSwitcher Light Mode */
    --Themer-bg--dark: var(--Themer-hue) 15% 10%;
    --Themer-text--dark: var(--Themer-hue) 30% 88%;
    --Themer-accent--dark: var(--Themer-hue) 50% 50%;
    --Themer-accent1--dark: 10 55% 50%;
    --Themer-muted--dark: var(--Themer-hue) 20% 4%;

  }

  /* Themer dark root */
  :root[color-scheme='dark'] {
    --Themer-bg: var(--Themer-bg--dark);
    --Themer-text: var(--Themer-bg--dark);
    --Themer-accent: var(--Themer-bg--dark);
    --Themer-accent1: var(--Themer-bg--dark);
    --Themer-muted: var(--Themer-bg--dark);
    color-scheme: dark;

  }
  :root[color-scheme='light'] {
    --Themer-bg: var(--Themer-bg--light);
    --Themer-text: var(--Themer-bg--light);
    --Themer-accent: var(--Themer-bg--light);
    --Themer-accent1: var(--Themer-bg--light);
    --Themer-muted: var(--Themer-bg--light);
    color-scheme: light;

  }


  
  body {
    background-color: hsl(var(--bg));
    color: hsl(var(--Themer-text));
  }

  ::selection {
    background: hsl(var(--accent) / 0.8);
    color: hsl(var(--bg));
  }



  /* Loader SVG CSS */
  div.notice {
    font-size: 7em;
    text-align: center;
    margin-top: 0.7em;
  }
  
  .world {
    fill: var(--base-fg-loader);
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    white-space: nowrap;
    border: 0.05em solid var(--base-fg-loader);
    box-sizing: border-box;
    background-image: url(#icon-world);
  }
  
  .world svg {
    width: 6em; height: 1.5em;
    margin-top: calc(-2px + -0.05em);
    display: inline;
    animation: world-scroll 3s linear infinite;
  }
  
  @keyframes world-scroll {
    from { margin-left: -2.75em; }
    to { margin-left: -1em; }
  }

  /* ThemeSwitcher CSS */

  .Themer-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    --wrapperSize: clamp(4em, 3vmax, 7em);
    padding: 1em 2em;
    width: 100%;
    display: grid;
    --_size: 1.5rem;
    place-items: center;
  }
  
  .Themer-btns {
    display: flex;
    gap: 1em;
    max-width: fit-content;
  display: flex;
  place-items: center;
  gap: 0.5em;
  background-color: hsl(var(--accent));
  color: hsl(var(--bg));
  text-decoration: none;
  padding: 0.5em;
  border-radius: var(--_radius);
  box-shadow: 0.05em 0.1em 0.9em hsl(var(--accent) / 0.3),
    0 0 0 -0.1em hsl(var(--bg)), 0 0 0 -0.2em hsl(var(--accent));
  transition: box-shadow var(--_tspeed_fast) var(--_ttype_squish),
    background-color var(--_tspeed_fast) var(--_ttype_squish);
  }
  
  .Themer-picker:focus {
    outline: none;
  }
  
  .Themer-picker {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    height: calc(var(--wrapperSize) * 0.2);
    width: 100%;
    border: 0.2em solid hsl(var(--muted));
    box-shadow: 0 0 0.8em hsl(var(--accent) / 0.4);
    border-radius: 100vmax;
    background: linear-gradient(to right,
        hsl(0, 50%, 50%),
        hsl(25, 50%, 50%),
        hsl(50, 50%, 50%),
        hsl(75, 50%, 50%),
        hsl(100, 50%, 50%),
        hsl(125, 50%, 50%),
        hsl(150, 50%, 50%),
        hsl(175, 50%, 50%),
        hsl(200, 50%, 50%),
        hsl(225, 50%, 50%),
        hsl(250, 50%, 50%),
        hsl(275, 50%, 50%),
        hsl(300, 50%, 50%),
        hsl(325, 50%, 50%),
        hsl(350, 50%, 50%));
  }
  
  .Themer-picker::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: calc(var(--wrapperSize) * 0.35);
    width: calc(var(--wrapperSize) * 0.35);
    border: none;
    box-shadow:
      0 0 0 .25em hsl(var(--muted)),
      0 0 0 -.4em hsl(var(--accent) / 0.8);
    border-radius: 100vmax;
    background-color: hsl(var(--accent));
    cursor: ew-resize;
  }
  
  .Themer-picker:focus::-webkit-slider-thumb {
    box-shadow:
      0 0 0 .25em hsl(var(--muted)),
      0 0 0 .45em hsl(var(--accent) / 0.8);
  }
  
  .Themer-close {
    position: absolute;
    top: -2em;
    left: 50%;
    transform: translate(-50%, -50%);
  }



  /* Theme CSS - not in use,
  TODO: transition to globals */
  .theme-dark   {
    --color-card-background: #ffffff;
    --color-button-fill: #2C5746;
    --color-text-muted: #c7d2fe;
    --color-text-inverted: #4f46e5;
    --color-fill: #4338ca;
    --color-accent-accent-hover: #eef2ff;
    --color-button-muted: #6366f1;
    --color-main-dark: #2C5746;
    --color-main-light: #D9D9D9;

    
    
  }
  
  .minimal-theme {
    --color-card-background: #95CCD8;
    --color-button-fill: #F87575;
    --color-background-fill: #FCEFF9;
    --color-fill: #4338ca;
    --color-button-accent: ##F87575;
    --color-accent-accent-hover: #eef2ff;
    --color-button-muted: #6366f1;
    --color-main-dark: #2C5746;
    --color-main-light: #D9D9D9;
    
    --hue-loader: 156deg;
    --base-bg-sat-loader: 33%;
    --base-bg-lum-loader: 26%;
    --base-bg-loader: hsl(var(--hue-loader), var(--base-bg-sat-loader), var(--base-bg-lum-loader));
    --base-fg-sat-loader: 100%;
    --base-fg-lum-loader: 20%;
    --base-fg-loader: hsl(var(--hue-loader), var(--base-fg-sat-loader), var(--base-fg-lum-loader));
    --filter-fg-loader: saturate(100%) brightness(100%);
    --module-bg-sat-loader: 18%;
    --module-bg-lum-loader: 27%;
    --module-bg-loader: hsl(var(--hue-loader), var(--module-bg-sat-loader), var(--module-bg-lum-loader));
 
   
    
  }

}

@layer components {

  /* Themer media queries */

  @media (prefers-color-scheme: dark) {
    :root {
      --Themer-bg: var(--Themer-bg--dark);
      --Themer-text: var(--Themer-bg--dark);
      --Themer-accent: var(--Themer-bg--dark);
      --Themer-accent1: var(--Themer-bg--dark);
      --Themer-muted: var(--Themer-bg--dark);
      color-scheme: dark;

    }
  }
  @media (prefers-color-scheme: light) {
    :root {
      --Themer-bg: var(--Themer-bg--light);
      --Themer-text: var(--Themer-bg--light);
      --Themer-accent: var(--Themer-bg--light);
      --Themer-accent1: var(--Themer-bg--light);
      --Themer-muted: var(--Themer-bg--light);
      color-scheme: light;

    }
  }
  
  @media screen and (max-width: 768px) {
    :root {
      --Themer-size: 1.3rem ;
    }
  }

  /* prefers reduced motion */
  @media (prefers-reduced-motion: reduce) {
    :root {
      --Themer-tspeed-slow: 50ms;
      --Themer-tspeed-fast: 50ms;
    }
  }




  /* Tailwind method of dealing with devices that support hover */
  @media (hover: hover) and (pointer: fine) {
    .card-container:hover {
      @apply   transition-shadow  hover:shadow-black/30
    }
    .card-image:hover {
      @apply  transition-transform duration-500  group-hover:scale-125
     }
     .card-gradient-bg:hover {
      @apply  group-hover:from-ctc/70 group-hover:via-ctc/60 group-hover:to-ctc/70
    }
    .card-info-transition:hover {
      @apply absolute inset-0 flex translate-y-[65%] flex-col items-center justify-center px-9 text-center transition-all duration-500 group-hover:translate-y-0
    }
    .card-city:hover {
      @apply text-white opacity-50 transition-opacity duration-300 group-hover:opacity-100 mb-12%
    }
    .card-location:hover {
      @apply text-white opacity-0 transition-opacity duration-300 group-hover:opacity-100
    }
    .card-desc:hover {
      @apply text-lg font-normal text-white opacity-0 transition-opacity duration-300 group-hover:opacity-100 text-ellipsis overflow-y-auto
    }

}


.background-image-styling {
  @apply  bg-main-bg absolute w-full bg-no-repeat pb-2/3 xl:pb-1/3 bg-cover -z-10 h-1/2 -mt-12% sm:-mt-7%
}

  .form-control {
    @apply px-4 m-1 transition bg-white bg-opacity-25 text-skin-base rounded-xl hover:bg-transparent hover:border-solid placeholder-off-white;
  }
  .auth-sign-in-button {
    @apply px-3 m-1 cursor-pointer rounded-xl bg-light-green hover:bg-dark-green text-skin-base w-52;
  }
  .google-button {
    @apply px-3 m-1 rounded-md cursor-pointer bg-google-red hover:bg-google-dark-red text-skin-base;
  }
  .register-button {
    @apply px-3 m-1 cursor-pointer rounded-xl bg-corn-silk hover:bg-google-dark-red text-skin-base;
  }
  .card-display {
    @apply mt-35% sm:mt-35% md:mt-24% lg:mt-14% xl:mt-10% 2xl:mt-14% grid gap-6 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1;
  }

  .card-container {
    @apply relative items-center justify-center mt-10 overflow-hidden transition-shadow rounded-lg cursor-pointer bg-opacity-70 md:bg-none md:bg-opacity-0 ;
  }
  .single-card {
    @apply mx-auto mt-16 mb-6 sm:mb-0 sm:mt-0 h-96 w-72 sm:h-96;
  }
  .card-image {
    @apply mt-35%   md:mt-0  h-50% rounded-xl sm:h-full mx-auto sm:w-full md:object-cover transition-transform duration-500  group-hover:scale-125;
  }
  .card-gradient-bg {
    @apply absolute inset-0 md:bg-card-background md:bg-opacity-10 bg-gradient-to-b from-transparent via-transparent to-ctc
  }

  /* use below class for mob view no transition */
  .card-info-static {
    @apply absolute inset-0 flex flex-col items-center justify-center px-9 text-center
  }

  .card-info-transition {
    @apply absolute inset-0 flex md:translate-y-[65%] flex-col items-center justify-center px-9 text-center transition-all duration-500 group-hover:translate-y-0
  }
  .card-title {
    @apply text-3xl font-bold text-skin-base mb-1 align-text-bottom mt-7%;
  }
  .card-city {
    @apply text-skin-base  opacity-50 transition-opacity duration-300 group-hover:opacity-100 mb-12%;
  }
  .card-location {
    @apply text-skin-base 
  }
  .card-desc {
    @apply mt-10 text-skin-base    md:mt-0  text-lg font-normal   text-ellipsis overflow-y-auto
  }
  .card-btn {
    @apply bg-button-fill font-bold rounded-full   mt-3 mb-1 py-2 px-3.5  text-sm capitalize text-white shadow shadow-black/60
  }
  .typewriter {
    @apply text-white text-4xl sm:text-6xl mt-20 ml-7%;
  }
  .standard-btn {
    @apply w-auto p-2 ml-2 text-white rounded-lg bg-button-fill;
  }
  .search-bar {
    @apply sticky pl-1 text-black placeholder-black bg-white rounded-lg lg:w-1/3;
  }
  .search-bar-container {
    @apply pt-20% flex justify-center sm:pt-10% lg:mt-5% lg:mx-auto xl:-mt-5%;
  }
  
}
