.fade-anim img {
  animation: fadeAnim 0.5s ease-out;
}
@keyframes fadeAnim {
  from {
    opacity: 0;
  }
  tp {
    opacity: 1;
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root   {
    --color-card-background: #FFFFFF;
    --color-button-fill: #2C5746;
    --color-text-muted: #C7D2FE;
    --color-text-inverted: #4F46E5;
    --color-fill: #4338CA;
    --color-accent-accent-hover: #EEF2FF;
    --color-button-muted: #6366F1;
    --color-main-dark: #2C5746;
    --color-main-light: #D9D9D9;
    /* World SVG CSS */
    --hue-loader: var(--Themer-hue);
    --base-bg-sat-loader: 90%;
    --base-bg-lum-loader: 72%;
    --base-bg-loader: hsl(var(--hue-loader), var(--base-bg-loader-sat-loader), var(--base-bg-lum-loader));
    --base-fg-sat-loader: 60%;
    --base-fg-lum-loader: 70%;
    --base-fg-loader: hsl(var(--hue-loader), var(--base-fg-sat-loader), var(--base-fg-lum-loader));
    --filter-fg-loader: saturate(100%) brightness(100%);
    --module-bg-sat-loader: 18%;
    --module-bg-lum-loader: 27%;
    --module-bg-loader: hsl(var(--hue-loader), var(--module-bg-sat), var(--module-bg-lum-loader));
    /* ThemeSwitcher root */
    --Themer-hue: 233;
    --Themer-size: 1.8rem;
    --Themer-radius: 0.2em;
    --Themer-tspeed-fast: 180ms;
    --Themer-tspeed-slow: 300ms;
    --Themer-ttype-squish: cubic-bezier(0.86, -0.1, 0.27, 1.15);
      /* ThemeSwitcher Light Mode */
    --Themer-bg--light: var(--Themer-hue) 30% 94%;
    --Themer-text--light: var(--Themer-hue) 10% 10%;
    --Themer-accent--light: var(--Themer-hue) 90% 72%;
    /* Button colour */
    --Themer-accent1--light: 10 80% 60%;
    --Themer-muted--light: var(--Themer-hue) 30% 99%;
    --Themer-nav--light: var(--Themer-hue) 50% 72%;  
    /* ThemeSwitcher Dark Mode */
    --Themer-bg--dark: var(--Themer-hue) 15% 10%;
    --Themer-text--dark: var(--Themer-hue) 30% 88%;
    --Themer-accent--dark: var(--Themer-hue) 50% 50%;
    --Themer-accent1--dark: 10 55% 50%;
    --Themer-muted--dark: var(--Themer-hue) 20% 4%;
    --Themer-nav--dark: var(--Themer-hue) 60% 20%;
  }
  /* Themer dark root */
  :root[color-scheme='dark'] {
    --Themer-bg: var(--Themer-bg--dark);
    --Themer-text: var(--Themer-text--dark);
    --Themer-contrast: var(--Themer-text--light);
    --Themer-accent: var(--Themer-accent--dark);
    --Themer-accent-contrast: var(--Themer-accent--light);
    --Themer-accent1: var(--Themer-accent1--dark);
    --Themer-muted: var(--Themer-muted--dark);
    --Themer-nav: var(--Themer-nav--dark);
    color-scheme: dark;
  }
  :root[color-scheme='light'] {
    --Themer-bg: var(--Themer-bg--light);
    --Themer-text: var(--Themer-text--light);
    --Themer-contrast: var(--Themer-text--dark);
    --Themer-accent: var(--Themer-accent--light);
    --Themer-accent-contrast: var(--Themer-accent--dark);
    --Themer-accent1: var(--Themer-accent1--light);
    --Themer-muted: var(--Themer-muted--light);
    --Themer-nav: var(--Themer-nav--light);
    color-scheme: light;
  }
  body {
    background-color: hsl(var(--Themer-bg));
    color: hsl(var(--Themer-text));
  }
  ::selection {
    background: hsl(var(--Themer-accent) / 0.8);
    color: hsl(var( --Themer-bg));
  }
  /* Loader SVG CSS */
  div.notice {
    font-size: 7em;
    text-align: center;
    
  }
  .world {
    fill: var(--base-fg-loader);
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    white-space: nowrap;
    border: 0.05em solid var(--base-fg-loader);
    box-sizing: border-box;
    background-image: url(#icon-world);
  }
  .world svg {
    width: 6em; height: 1.5em;
    margin-top: calc(-2px + -0.05em);
    display: inline;
    animation: world-scroll 3s linear infinite;
  }
  @keyframes world-scroll {
    from { margin-left: -2.75em; }
    to { margin-left: -1em; }
  }
  /* ThemeSwitcher CSS */
  .Themer-wrapper {
    position: fixed;
    bottom: 9%;
    left: 0;
    z-index: 100;
    --wrapperSize: clamp(4em, 3vmax, 7em);
    padding: 1em 2em;
    width: 100vw;
    display: grid;
    --Themer-size: 1.5rem;
    place-items: center;
    @apply sm:bottom-[9%]  xs:bottom-[39vw] mob:bottom-[18vw]
  }
  .Themer-btns {
    display: flex;
    gap: 1em;
    max-width: fit-content;
  display: flex;
  place-items: center;
  gap: 0.5em;
  background-color: hsl(var(--Themer-accent));
  color: hsl(var(--Themer-text));
  text-decoration: none;
  padding: 0.5em;
  border-radius: var(--Themer-radius);
  box-shadow: 0.05em 0.1em 0.9em hsl(var(--Themer-accent) / 0.3),
    0 0 0 -0.1em hsl(var(--Themer-bg)), 0 0 0 -0.2em hsl(var(--Themer-accent));
  transition: box-shadow var(--Themer-tspeed-fast) var(--Themer-ttype-squish),
    background-color var(--Themer-tspeed-fast) var(--Themer-ttype-squish);
  }

  .Themer-picker:focus {
    outline: none;
  }
  .Themer-picker {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    height: calc(var(--wrapperSize) * 0.2);
    width: 100%;
    border: 0.2em solid hsl(var(--muted));
    box-shadow: 0 0 0.8em hsl(var(--accent) / 0.4);
    border-radius: 100vmax;
    background: linear-gradient(to right,
        hsl(0, 50%, 50%),
        hsl(25, 50%, 50%),
        hsl(50, 50%, 50%),
        hsl(75, 50%, 50%),
        hsl(100, 50%, 50%),
        hsl(125, 50%, 50%),
        hsl(150, 50%, 50%),
        hsl(175, 50%, 50%),
        hsl(200, 50%, 50%),
        hsl(225, 50%, 50%),
        hsl(250, 50%, 50%),
        hsl(275, 50%, 50%),
        hsl(300, 50%, 50%),
        hsl(325, 50%, 50%),
        hsl(350, 50%, 50%));
  }
  
  .Themer-picker::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: calc(var(--wrapperSize) * 0.35);
    width: calc(var(--wrapperSize) * 0.35);
    border: none;
    box-shadow:
      0 0 0 .25em hsl(var(--Themer-muted)),
      0 0 0 -.4em hsl(var(--Themer-accent) / 0.8);
    border-radius: 100vmax;
    background-color: hsl(var(--Themer-accent));
    cursor: pointer;
  }
  .Themer-picker:focus::-webkit-slider-thumb {
    box-shadow:
      0 0 0 .25em hsl(var(--Themer-muted)),
      0 0 0 .45em hsl(var(--Themer-accent) / 0.8);
  }
  .Themer-close {
    position: absolute;
    top: -2em;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .minimal-theme {

    /* World SVG CSS Dark */
    --hue-loader: var(--Themer-hue);
    --base-bg-sat-loader: 33%;
    --base-bg-lum-loader: 26%;
    --base-bg-loader: hsl(var(--hue-loader), var(--base-bg-sat-loader), var(--base-bg-lum-loader));
    --base-fg-sat-loader: 100%;
    --base-fg-lum-loader: 20%;
    --base-fg-loader: hsl(var(--hue-loader), var(--base-fg-sat-loader), var(--base-fg-lum-loader));
    --filter-fg-loader: saturate(100%) brightness(100%);
    --module-bg-sat-loader: 18%;
    --module-bg-lum-loader: 27%;
    --module-bg-loader: hsl(var(--hue-loader), var(--module-bg-sat-loader), var(--module-bg-lum-loader));
  }
}



/* 
TODO:  Fix Footer ✅
TODO:  add minimal theme to hero again ✅
TODO: Set navbar & footer colours to edited hues ? ✅
TODO: typewriter left padding and font &...? ✅
TODO:  Style loader more ✅
TODO: Style Carousel some more ✅
TODO: change burger menu colour to theme ✅
TODO: Move NavBar styling into CSS  ✅
TODO: Put all CSS in this file ✅
TODO: Put a coming soon thing on journal
TODO: Change Sombrero to Amigos logo ✅
TODO: Save theming preference into local storage ✅
TODO:  Change card display on xs: screen Also no hover on all smaller screens 



*/

@layer components {



  
  /* Themer media queries */
  @media (prefers-color-scheme: dark) {
    :root {
      --Themer-bg: var(--Themer-bg--dark);
      --Themer-text: var(--Themer-text--dark);
      --Themer-accent: var(--Themer-accent--dark);
      --Themer-accent1: var(--Themer-accent1--dark);
      --Themer-muted: var(--Themer-muted--dark);
      --Themer-nav: var(--Themer-muted--dark);
      color-scheme: dark;
    }
  }
  @media (prefers-color-scheme: light) {
    :root {
      --Themer-bg: var(--Themer-bg--light);
      --Themer-text: var(--Themer-text--light);
      --Themer-accent: var(--Themer-accent--light);
      --Themer-accent1: var(--Themer-bg--light);
      --Themer-muted: var(--Themer-muted--light);
      --Themer-nav: var(--Themer-muted--light);
      color-scheme: light;
    }
  }
  @media screen and (max-width: 768px) {
    :root {
      --Themer-size: 1.3rem ;
    }
  }
  /* prefers reduced motion */
  @media (prefers-reduced-motion: reduce) {
    :root {
      --Themer-tspeed-slow: 50ms;
      --Themer-tspeed-fast: 50ms;
    }
  }


  /* Tailwind method of dealing with devices that support hover */
  
  @media (hover: hover) and (pointer: fine) {
    .card-container:hover {
      @apply   transition-shadow  hover:shadow-black/30
    }
    .card-image:hover {
      @apply  transition-transform duration-500  group-hover:scale-125
     }
     .card-gradient-bg:hover {
      background-color: hsl(var(--Themer-accent)/ 0.3);
      @apply  from-transparent/30 group-hover:via-transparent/20 group-hover:to-transparent/30
    }
    .card-info-transition:hover {
      @apply absolute inset-0 flex translate-y-[65%] flex-col items-center justify-center px-9 text-center transition-all duration-500 group-hover:translate-y-0
    }
    .card-city:hover {
      @apply text-white opacity-50 transition-opacity duration-300 group-hover:opacity-100 mb-12%
    }
    .card-location:hover {
      @apply text-white opacity-50 transition-opacity duration-300 group-hover:opacity-100
    }
    .card-desc:hover {
      @apply text-lg font-normal text-white opacity-0 transition-opacity duration-300 group-hover:opacity-100 text-ellipsis overflow-y-auto
    }
    .nav-bar-buttons:hover{
      @apply bg-[hsl(var(--Themer-accent))] text-[color:hsl(var(--Themer-text))]
    }
}

.html-div {
  @apply min-w-full min-h-full overflow-x-hidden
}

.main-div {
  @apply flex flex-col min-h-full
}

/* hero styling */
.hero-styling {
 @apply bg-main-bg w-screen bg-no-repeat bg-cover -z-10 xs:min-h-[50vmax]  
}

.nav-container {
  @apply fixed top-0 right-0 z-10  items-center w-screen bg-[color:hsl(var(--Themer-nav))]  
}

.nav-bar-item-container {
  @apply relative flex pb-[1vh] items-center justify-between text-[color:hsl(var(--Themer-text))] 
}

.nav-bar-logo{
  @apply py-[1vh] ml-10 align-middle  mr-[40vmin] 
}

.nav-bar-hamburger {
  @apply absolute inset-y-0 right-0 z-10 lg:hidden pb-[1vh]
}

.nav-bar-lg-menu {
  @apply ml-[60vw] py-2  justify-between w-full hidden my-auto lg:flex items-center
}

.nav-bar-lg-menu-logged-out{
  @apply hidden lg:absolute lg:inset-y-0 lg:right-0 lg:flex
}

.nav-bar-buttons{
  @apply w-auto p-2 ml-2 text-[color:hsl(var(--Themer-contrast))] rounded-lg  my-auto  font-bold  max-h-10 bg-[hsl(var(--Themer-accent-contrast))]
}

.burger-overlay{
 @apply  md:hidden absolute top-0 right-0 bottom-0 flex justify-center items-center w-full h-screen bg-black text-left ease-in duration-300
}

.burger-overlay-hidden{
  @apply md:hidden absolute top-0 left-[-100%] right-0 bottom-0 flex justify-center items-center w-full h-screen bg-black text-center ease-in duration-300
}

.burger-overlay-links{
  @apply text-lg font-semibold text-white
}

  /*
  footer class (working?)
  .footer-pos-adjust {
    min-height: 70%;
    min-height: -webkit-calc(100% - 7rem);
    min-height: -moz-calc(100% - 7rem);
    min-height: calc(100% - 7rem);
  } */
  .form-control {
    @apply h-10 px-4 m-1 mb-2 text-black placeholder-black transition bg-white bg-opacity-25 rounded-xl hover:bg-gray-300 hover:border-solid;
  }
  .auth-sign-in-button {
    @apply h-10 px-3 m-1 mb-2 cursor-pointer rounded-xl bg-emerald-600 hover:bg-dark-green text-skin-base w-52;
  }
  .google-button {
    @apply h-10 px-3 m-1 mb-2 cursor-pointer rounded-xl bg-google-red hover:bg-google-dark-red text-skin-base w-52;
  }
  .register-button {
    @apply h-10 px-3 m-1 mb-2 cursor-pointer rounded-xl bg-zinc-700 hover:bg-google-dark-red text-skin-base w-52;
  }
  .card-display {
    @apply z-10 mt-[10vh]    grid gap-6 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1;
  }
  .card-container {
    @apply relative items-center justify-center mt-10 overflow-hidden transition-shadow rounded-lg cursor-pointer bg-opacity-70 md:bg-none md:bg-opacity-0 ;
  }
  .single-card {
    @apply mx-auto mt-16 mb-6 sm:mb-0 sm:mt-0 h-96 w-72 sm:h-96;
  }
  .card-image {
    @apply mt-35%   md:mt-0  h-50% rounded-xl sm:h-full mx-auto sm:w-full md:object-cover transition-transform duration-500  group-hover:scale-125;
  }
  .card-gradient-bg {
    @apply absolute inset-0   bg-[color:hsl(var(--Themer-accent)/0.25)] bg-opacity-90 bg-gradient-to-b md:from-transparent via-transparent to-[color:hsl(var(--Themer-accent))]
  }
  /* use below class for mob view no transition */
  .card-info-static {
    @apply absolute inset-0 flex flex-col items-center justify-center px-9 text-center
  }
  .card-info-transition {
    @apply absolute inset-0 flex md:translate-y-[65%] flex-col items-center justify-center px-9 text-center transition-all duration-500 group-hover:translate-y-0
  }
  .card-title {
    @apply sm:text-3xl font-bold md:text-skin-base xs:text-[color:hsl(var(--Themer-text))] mb-1 align-text-bottom sm:mt-7% mt-[1%]  xs:text-2xl  ;
  }
  .card-city {
    @apply md:text-skin-base xs:text-[color:hsl(var(--Themer-text))]  opacity-50 transition-opacity duration-300 group-hover:opacity-100 pb-[80%] mob:pb-[70%] sm:mb-12% xs:font-extrabold sm:font-bold;
  }
  .card-location {
    @apply md:text-skin-base xs:text-[color:hsl(var(--Themer-text))]
  }
  .card-desc {
    @apply sm:mt-10 md:text-skin-base xs:text-[color:hsl(var(--Themer-text))]    md:mt-0  text-lg font-normal   text-ellipsis overflow-y-auto
  }

  .card-action-container {
    @apply flex xs:my-[2%] sm:mb-1 space-x-14
  }

  .card-btn {
    @apply Themer-btns font-bold rounded-full xs:mt-[1%]   sm:mt-3 sm:mb-1 py-2 px-3.5  text-sm capitalize text-[color:hsl(var(--Themer-text))] shadow shadow-black/60
  }
  .typewriter-container {
    @apply absolute inset-x-0 top-[10vmax]  text-4xl font-bold text-white font-courgette sm:text-6xl ml-[7%] ;
  }

  .carousel-container {
    @apply relative   flex mt-[30vmax]  items-center justify-center w-full h-full px-[1%] transform -translate-y-1/2 bg-opacity-50 bg-[hsl(var(--Themer-bg))]
  }

  .carousel-left-arrow-container{
    @apply relative  w-full h-10 mt-[-10vh]  sm:my-[auto]
  }
  .carousel-right-arrow-container{
    @apply relative w-full h-10 mt-[-10vh]  sm:my-[auto]
  }

  .carousel-left-arrow{
    @apply border-solid border-2 border-[hsl(var(--Themer-accent-contrast))]  ml-[50%] object-contain mx-1 rounded-full bg-[hsl(var(--Themer-text))] text-[hsl(var(--Themer-accent))] text-2xl transition cursor-pointer  md:text-6xl sm:text-4xl opacity-90 hover:opacity-50
  }
  .carousel-right-arrow{
    @apply border-solid border-2 border-[hsl(var(--Themer-accent-contrast))]  -ml-[35%] z-10 object-contain mx-1 rounded-full bg-[hsl(var(--Themer-text))] text-[hsl(var(--Themer-accent))] text-2xl transition cursor-pointer  md:text-6xl sm:text-4xl opacity-90 hover:opacity-50
  }
  .carousel-image{
    @apply relative w-full mt-[10%] mx-auto -z-10 pt-[1%] pb-[35%] sm:pb-[17%]  md:pb-[14%] lg:pb-[5%]
  }
  .carousel-title-container{
    @apply absolute inset-x-0 top-0 flex justify-center 
  }

  .carousel-title{
    @apply  font-courgette text-3xl md:text-4xl items-center my-[1%]
  }

  .carousel-recommended-container {
    @apply absolute inset-x-0   bottom-0 
  }

  .carousel-recommended-desc {
    --max-lines: 3;

    display: -webkit-box;
    overflow:scroll;
    
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    
    @apply  my-auto  text-[color:hsl(var(--Themer-text))] text-center text-xl
  }

  .footer {
  @apply  flex flex-col p-[1em] min-w-full mt-auto  bg-[color:hsl(var(--Themer-nav))] 
  }

  .footer-items-container {
    @apply flex-row font-bold justify-center p-1 m-2 text-center [color:hsl(var(--Themer-text))] 
  }

  .about-us-container {
    @apply font-bold  mob:justify-around mob:space-x-[0.1em] pb-3 text-[color:hsl(var(--Themer-text))]   xs:px-2 sm:flex xs:grid-cols-2 xs:grid xs:gap-[2vw]
  }

  .about-us-attribute {
    @apply flex items-center justify-around cursor-pointer sm:space-x-1 space-x-[0.1em]
  }

  .Jo-p{
    @apply xs:mx-5 mob:mx-0
  }

  .standard-btn {
    @apply w-auto p-2 ml-2 text-[color:hsl(var(--Themer-text))] rounded-lg Themer-btns ;
  }
  .search-bar {
    @apply sticky pl-1 text-black placeholder-black bg-white rounded-lg lg:w-1/3;
  }
  .search-bar-container {
    @apply  absolute inset-x-0 top-[25vmax]  flex justify-center mx-auto ;
  }
}
