.fade-anim img {
  animation: fadeAnim 0.5s ease-out;
}
@keyframes fadeAnim {
  from {
    opacity: 0;
  }
  tp {
    opacity: 1;
  }
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form-control {
    @apply px-4 m-1 text-white transition bg-white bg-opacity-25 rounded-xl hover:bg-transparent hover:border-solid placeholder-off-white;
  }
  .auth-sign-in-button {
    @apply px-3 m-1 cursor-pointer rounded-xl bg-light-green hover:bg-dark-green text-off-white w-52;
  }
  .google-button {
    @apply px-3 m-1 rounded-md cursor-pointer bg-google-red hover:bg-google-dark-red text-off-white;
  }
  .register-button {
    @apply px-3 m-1 cursor-pointer rounded-xl bg-corn-silk hover:bg-google-dark-red text-off-white;
  }
  .card-display {
    @apply mt-12% sm:mt-46.5% md:mt-25% lg:mt-24% xl:mt-26.7% grid gap-6 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1;
  }

  .card-container {
    @apply relative items-center justify-center mt-10 overflow-hidden transition-shadow rounded-lg cursor-pointer hover:shadow-xl hover:shadow-black/30;
  }
  .single-card {
    @apply mx-auto h-96 w-72;
  }
  .card-image {
    @apply object-cover transition-transform duration-500 sm:h-full sm:w-full group-hover:scale-125;
  }
  .card-gradient-bg {
    @apply absolute inset-0 bg-gradient-to-b from-transparent via-transparent to-black group-hover:from-black/70 group-hover:via-black/60 group-hover:to-black/70;
  }
  .card-info-transition {
    @apply absolute inset-0 flex translate-y-[65%] flex-col items-center justify-center px-9 text-center transition-all duration-500 group-hover:translate-y-0;
  }
  .card-title {
    @apply text-3xl font-bold text-off-white mb-1 align-text-bottom mt-7%;
  }
  .card-city {
    @apply text-off-white opacity-50 transition-opacity duration-300 group-hover:opacity-100 mb-12%;
  }
  .card-location {
    @apply transition-opacity duration-300 opacity-0 text-off-white group-hover:opacity-100;
  }
  .card-desc {
    @apply overflow-y-auto text-lg font-normal transition-opacity duration-300 opacity-0 text-off-white group-hover:opacity-100 text-ellipsis;
  }
  .card-btn {
    @apply rounded-full bg-dark-green mt-3 py-2 px-3.5  text-sm capitalize text-white shadow shadow-black/60;
  }
  .typewriter {
    @apply text-white text-6xl mt-20 ml-7%;
  }
  .standard-btn {
   @apply  w-auto p-2 ml-2 text-white rounded-lg bg-dark-green drop-shadow-lg
  }
}
